@import 'bootstrap';
/*
=================================
=================================




BOOTSTRAP FIXES




=================================
=================================
*/
.glyphicon {
  margin-right: 7px;
}
.dropdown .glyphicon {
  margin-left: 5px;
}

body { background: red;}